@*@model IEnumerable<MvcMusicStore.Models.Album>*@
@model MvcMusicStore.ViewModel.ViewModels   
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
              Your Personal Music Store.Download and Share Unlimited Content.
            </p>
        </div>
    </section>
}
<h3>What we offer</h3>
<ol class="round">
    <li class="one">
        <h5> Large collection of songs</h5>
          Find your most populer songs in seconds
    </li>

    <li class="two">   
        <h5> High download speed</h5>
         We got amazing servers to provide you high speed access to songs

    </li>

    <li class="three">
        <h5> Great canadian Deals</h5>
          Everyday is a deal.You will get many free songs

    </li>
</ol>

<nav>
    <ul id="menu">
       @foreach (var gen in Model.Genres)
            { 
                <li>@Html.ActionLink(gen.Name, "Browse", "Store", new {Genre=gen.Name},null) </li>
            }
      </ul>
</nav>
<h3>Latest Albums</h3>
<ul>

    @foreach(var alb in Model.Albums)
    { 
   <li> 
    @Html.ActionLink(@alb.Title,"Details","Store",new {Id=alb.AlbumId},null)
        <img src="~/AlbumArt/1.jpg" alt="@alb.Title" height="10%" width="15%" />

       

   </li>
    }

</ul>